{% extends 'main.html'%}

{% block title %}CourseCounduit || A University In Your Pocket{% endblock title%}
{% block content %}
<section id="Hero">
    <h1> CourseConduit </h1>
    <h2>A Free University In Your Pocket</h2>
    <h1> CourseConduit </h1>
    <h2>A Free University In Your Pocket</h2>

    <h1> CourseConduit </h1>
    <h2>A Free University In Your Pocket</h2>

    <h1> CourseConduit </h1>
    <h2>A Free University In Your Pocket</h2>


</section>
<section id="Description">
    <div class="">

    </div>
    <div>

    </div>
</section>
{% endblock %}